.DS_Store
.idea
*.log
tmp/

packages/common

packages/Makefile.common
packages/Makefile
packages/Makefile.iso

# Built packages
*.eopkg
!prebuilt/*.eopkg
# pspec files
pspec_x86_64.xml

# secrets
apikeys.ini
